{% extends 'base.html.twig' %}

{% block style %}
<link rel="stylesheet" href="/css/services.css?version=5.1">
<link rel="stylesheet" href="/css/meili.css?version=3.2">
<link rel="stylesheet" href="/css/hovertips.css">
{% endblock %}

{% block main %}
		<!--魅力三峡作品欣赏-->
		<div class="meili_img_list" id="meili_1">
			<div class="swiper_container imgbox_swiper">
				<div class="swiper-wrapper imgbox_wrapper">
          <!--此处jQuery动态写入轮播作品-->
          {% for i in slider1 %}
          <div class="swiper-slide img_slide">
          <a href="/news/{{ i.id }}">
            <img src='/images/{{ i.image }}' />
            </a>
            <div class="title">{{ i.title }}</div>
          </div>
          {% endfor %}
				</div>
				<img class="zp_left" src="/images/leftarrow.png" />
				<img class="zp_right" src="/images/rightarrow.png" />
			</div>
		</div>

		<div class="spfoodbox youzai" id="youzai">
			<div class="spfood_container main-container">
				<div class="spfood_title">
					<div>游在东沟</div>
				</div>
				<div class="swiper-container spfoodlist_swiper">
					<div class="swiper-wrapper spfood_wrapper">
              {% for i in youzai %}
              <div class="swiper-slide slider-with-margin">
                <a href="/news/{{ i.id }}">
                <img class="img" src='/images/{{ i.image }}' />
                </a>
                <div class="info">
                  <p class="title">{{ i.title }}</p>
                  <p class="summary">{{ i.summary }}</p>
                </div>
              </div>
              {% endfor %}
          </div>
					<div class="pagination"></div>
					<img class="leftarrow" src="/images/leftarrow.png" />
					<img class="rightarrow" src="/images/rightarrow.png" />
				</div>
			</div>
		</div>

		<div class="spfoodbox zhuzai" id="zhuzai">
			<div class="spfood_container main-container">
				<div class="spfood_title">
					<div>住在东沟</div>
				</div>
				<div class="swiper-container spfoodlist_swiper">
					<div class="swiper-wrapper spfood_wrapper">
              {% for i in zhuzai %}
              <div class="swiper-slide slider-with-margin">
                <a href="/news/{{ i.id }}">
                <img class="img" src='/images/{{ i.image }}' />
                </a>
                <div class="info">
                  <p class="title">{{ i.title }}<span class="badge1 ms-3">民宿</span></p>
                  <p class="phone">{{ i.specs[0].value }}</p>
                  <p class="summary">{{ i.summary }}</p>
                </div>
              </div>
              {% endfor %}
          </div>
					<div class="pagination"></div>
					<img class="leftarrow" src="/images/leftarrow.png" />
					<img class="rightarrow" src="/images/rightarrow.png" />
				</div>
			</div>
		</div>

		<div class="foodbox" id="chizai">
			<div class="food_container actbox main-container">
				<div class="food_left box-bg">
          <div class="box-border box-left-border"></div>
					<div class="name">{{ chizaitext[0].title }}</div>
					<div class="shuoming">{{ chizaitext[0].summary }}</div>
          <div class="box-border box-right-border"></div>
				</div>
				<div class="food_right">
        {% for i in chizai %}
          <div class="food_item" id="{{ i.id }}">
						<img src="/images/{{ i.image }}">
						<div class="graytip">
							<img class="greenadd" src="/images/add.png" />
							<div class="name"><p>{{ i.title }}</p></div>
						</div>
					</div>
          {% endfor %}
        </div>
			</div>
		</div>

		<!--购在-->
		<div class="spfoodbox gouzai" id="gouzai">
			<div class="spfood_container main-container">
				<div class="spfood_title">
					<div>购在东沟</div>
				</div>
				<div class="swiper-container spfoodlist_swiper">
					<div class="swiper-wrapper spfood_wrapper">
          {% for i in gouzai %}
            <div class="swiper-slide spfood_slide slider-with-margin" id="{{ i.id }}">
							<div class="spfoodimg">
                <img class="img" src="/images/{{ i.image }}">
								<div class="spfood_moretip">
									<img class="knowmoreadd" src="/images/add.png" />
									<div class="knowmore text-light">了解更多</div>
								</div>
							</div>
              <div class="info">
                <p class="title">{{ i.title }}</p>
                <p class="summary">{{ i.summary }}</p>
              </div>
						</div>
          {% endfor %}
          </div>
					<img class="leftarrow" src="/images/leftarrow.png" />
					<img class="rightarrow" src="/images/rightarrow.png" />
				</div>
			</div>
		</div>

{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/services.js?version=2.3') }}"></script>
    <script src="/js/meili.js?version=2.3"></script>
{% endblock %}
