{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
    <div class="banner-image">
        <img src="{{ asset("images/#{hero.image}")}}" alt="car-image" class="img-fluid">
        <div class="centered-text">
            <h2 class="fw-bold">{{ hero.title }}</h2>
        </div>
    </div>
    <div class="section-1 container-fluid px-0">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
            {% for s in sliders1 %}
              <div class="swiper-slide">       
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="section-image">
                            <img src="{{ asset("images/#{s.image}")}}" alt="car-image" class="img-fluid">
                            <div class="section-1-text">
                            {#
                            <p class="pt-3">{{ s.summary }}</p>
                            #}
                            </div>
                        </div>
                    </div>   
                  </div>
                </div>
            {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="boxes-container container-fluid px-0">
        <div class="d-flex justify-content-between">

            <div class="box-image position-relative text-center">
                <img src="{{ asset('images/staring-2.png')}}" alt="staring-image" class="img-fluid">
                <div class="overlay-text-2 d-none d-md-block">
                    <p>驾驶性提升</p>
                    <p>强大的双横臂螺旋弹簧独立悬架、大容量阻尼器和低气压轮胎的组合，使</p>
                </div>
            </div>
            <div class="box-image position-relative">
                <img src="{{ asset('images/black-jeep.png')}}" alt="black-jeep" class="img-fluid">
                <p class="overlay-text d-none d-md-block">安全性提升</p>
            </div>
            <div class="box-image position-relative">
                <img src="{{ asset('images/machine.png')}}" alt="machine" class="img-fluid">
                <p class="overlay-text d-none d-md-block">减速效果提升</p>
            </div>
            <div class="box-image position-relative">
                <img src="{{ asset('images/矩形 1520 拷贝 19.png')}}" alt="yellow-jeep" class="img-fluid">
                <p class="overlay-text d-none d-md-block">通过性提升</p>
            </div>
            <div class="box-image position-relative">
                <img src="{{ asset('images/racing-jeep.png')}}" alt="jeep" class="img-fluid">
                <p class="overlay-text d-none d-md-block">越野性提升</p>
            </div>
        </div>
    </div>
        
    
    <div class="section-2 container-fluid">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
            {% for s in sliders2 %}
                <div class="swiper-slide">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="section-image">
                                        <img src="{{ asset("images/#{s.image}")}}" alt="car-image" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="section-2-text">
                                        <h1>{{ s.title }}</h1>
                                        <p class="pt-5 text-center px-5">{{ s.summary }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                {% endfor %}
                <!-- Repeat the above swiper-slide structure for each additional slide with different content -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="section-3 container-fluid">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
            {% for s in sliders3 %}
                <div class="swiper-slide">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <div class="section-3-text">
                                        <h1>{{ s.title }}</h1>
                                        <div class="image-container">
                                            <img src="{{ asset('images/png蓝色光.png')}}" alt="img" class="image-fluid">
                                        </div>                                  
                                      <p class="text-center px-md-5 fw-bold">{{ s.summary }}</p> 
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="section-image mb-5">
                                        <img src="{{ asset("images/#{s.image}")}}" alt="car-image" class="image-fluid">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                </div>
                {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="section-4 container-fluid px-0">
        <div class="section-4-bg">
            <img src="{{ asset("images/#{spec1.image}")}}" alt="jeep" class="img-fluid">
            <div class="section-4-title w-75">
                <h1 class="fw-bold">{{ spec1.title }}</h1>
                <p>{{ spec1.summary }}</p>
            </div>
            <div class="section-4-text d-flex">
               <button class="mx-auto w-100 px-4 accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
               参数配置表
              </button>
            </div>
        </div>
    </div>
<div class="accordion">
  <div class="accordion-item">
    <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordion">
      <div class="accordion-body">
        <div class="container text-center">
          <div class="row row-cols-auto justify-content-center">
          {% for s in spec1.specs %}
            <div class="col">
              <div class="fw-bold">{{ s.name }}</div>
              <div>{{ s.value }}</div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="section-5 container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h6 class="pt-4 px-3">左视图</h6>
                <img src="{{ asset('images/矩形 1520 拷贝 13.png')}}" alt="jeep-structure" class="img-fluid" >
            </div>
            <div class="col-md-4">
                <h6 class="px-3 pt-4">左视图</h6>
                <img src="{{ asset('images/矩形 1520 拷贝 16.png')}}" alt="jeep-structure" class="img-fluid" >
            </div>
            <div class="col-md-4">
                <h6 class="px-3 pt-4">左视图</h6>
                <img src="{{ asset('images/矩形 1520 拷贝 15.png')}}" alt="jeep-structure" class="img-fluid" >
            </div>
        </div>
    </div>
    <div class="section-6 container-fluid">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
          {% for s in sliders4 %}
                <div class="swiper-slide">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="section-image">
                                        <img src="{{ asset("images/#{s.image}")}}" alt="car-image" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="section-6-text">
                                        <h1>{{ s.title }}</h1>
                                        <p class="pt-2 text-center px-5">{{ s.summary }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
          {% endfor %}
                <!-- Repeat the above swiper-slide structure for each additional slide with different content -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="section-7 container-fluid">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
          {% for s in sliders5 %}
                <div class="swiper-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 px-0">
                               <div class="section-7-text">
                                <div class="pe-3">
                                    <h1 class="fw-bold">{{ s.title }}</h1>
                                    <p class="text-start">{{ s.summary }}</p>
                                </div>
                               </div>
                            </div>
                            <div class="col-md-8 px-0">
                                <div class="section-image mb-5">
                                    <img src="{{ asset("images/#{s.image}")}}" alt="car-image" class="img-fluid">
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
          {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="section-8 container-fluid px-0">
        <div class="swiper mySwiper swiper6">
            <div class="swiper-wrapper">
          {% for s in sliders6 %}
                <div class="swiper-slide">       
                          <img src="{{ asset("images/#{s.image}")}}" alt="car-image" class="img-fluid">
                          <div class="image-text">
                              <p class="fw-bold">{{ s.title }}</p>
                          </div>
                          <div class="section-4-text d-flex">
                              <button class=" px-4">产品概述</button>
                              <button class="px-4">改装亮点</button>
                              <button class="px-4">产品参数表</button>
                           </div>
                    </div>
          {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
<div class="accordion">
  <div class="accordion-item">
    <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordion">
      <div class="accordion-body">
        <strong>This is the 2nd item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordion">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordion">
      <div class="accordion-body">
        <strong>This is the 4th item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
    <div class="section-9 container-fluid">
        <div class="row">
            <div class="col-md-6 px-0">
                <img src="{{ asset('images/ambulace1.jpg')}}" class="img-fluid">
            </div>
            <div class="col-md-6 px-0">
                <img src="{{ asset('images/inside -amb.jpg')}}" class="img-fluid">
            </div>
        </div>
    </div>
{{ include('feedback.html.twig') }}
{% endblock %}

    {% block javascript %}
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
        loop:true,
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
    });
    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
  </script>
<script src="{{ asset('js/validate.js') }}"></script>
    {% endblock %}
