{% extends 'base.html.twig' %}

{% block style %}
<link rel="stylesheet" href="/css/services.css?version=5.1">
<link rel="stylesheet" href="/css/daolan.css?version=3.6">
<link rel="stylesheet" href="/css/meili.css?version=3.2">
<link rel="stylesheet" href="/css/hovertips.css">
{% endblock %}

{% block main %}
		<div class="hotelbox" id="service_1">
			<div class="hotelcontainer">
				<div class="hotelleft swiper-container">
					<div class="left_wrapper swiper-wrapper">
						<!--此处jquery写入酒店轮播图数据-->
            {% for i in jianjie[0].images %}
            <div class="left_item swiper-slide">
              <img src="/images/{{ i.image }}">
            </div>
            {% endfor %}
					</div>
					<div class="pagination"></div>
				</div>
				<div class="hotelright">
					<div class="titlebox">
						<div class="titlecxt">
            {{ jianjie[0].title }}
						<p class="">DONGGOU INTRODUCE</p>
            </div>
					</div>
					<div class="content">
						<div class="cxt">
							<!--此处jquery写入酒店分类对应的介绍-->
              {{ jianjie[0].summary }};
						</div>
					</div>
				</div>
			</div>
		</div>
    
		<!--行程规划-->

		<div class="planbox" id="xingcheng" style="background-image: url(/images/{{ xingchengtext[0].image }});background-repeat: no-repeat;">
			<div class="container planflex">
				<div class="titlebox">
					<div class="bigtitle">{{ xingchengtext[0].title }}</div>
					<div class="smalltitle">{{ xingchengtext[0].summary }}</div>
				</div>
				<div class="planetogo">
							<div class="plane_title">
								<img src="/images/plane_green.png" alt="飞机出行">
								<div>{{ xingcheng[3].title }}</div>
							</div>
							<div class="planeway ways">
              {{ xingcheng[3].body|raw }}
							</div>
				</div>

				<div class="threewaysbox">
            {% for i in xingcheng|slice(0, 3)%}
							<div class="waytogo">
								<div class="way_title">
									<img src="/images/{{ i.image }}" alt="{{ i.title }}" />
									<div>{{ i.title }}</div>
								</div>
								<div class="wayway ways">
              {{ i.body|raw }}
								</div>
							</div>	
            {% endfor %}
				</div>
			</div>
		</div>

		<div class="act_container culture" id="culture">
			<div class="actbox container culture-box">
				<div class="left box-bg">
          <div class="box-border box-left-border"></div>
					<div class="name">{{ hongsetext[0].title }}</div>
					<div class="shuoming">{{ hongsetext[0].summary }}</div>
          <div class="box-border box-right-border"></div>
        </div>
				<div class="right">
					<div class="swiper-container act_swiper">
						<div class="swiper-wrapper act_wrapper">
            {% for i in hongse %}
							<div class="swiper-slide act_slide slider-with-margin">
								<div class="act_img"><img class="img" src="/images/{{ i.image }}" height="100%" /></div>
								<div class="slide_info">
									<div class="info_title">{{ i.title }}</div>
									<div class="info_desc">{{ i.summary }}</div>
                  <div class="info_more" id="{{ i.id }}"><img src="/images/add.png"></div>
								</div>
							</div>
            {% endfor %}
            </div>
						<img class="leftarrow" src="/images/leftarrow.png" />
						<img class="rightarrow" src="/images/rightarrow.png" />
					</div>
				</div>
			</div>
		</div>

		<div class="act_container history" id="history">
			<div class="actbox container hist-box">
				<div class="right">
					<div class="swiper-container act_swiper">
						<div class="swiper-wrapper act_wrapper">
            {% for i in history %}
							<div class="swiper-slide act_slide slider-with-margin">
								<div class="act_img"><img class="img" src="/images/{{ i.image }}" height="100%" /></div>
								<div class="slide_info">
									<div class="info_title">{{ i.title }}</div>
									<div class="info_desc">{{ i.summary }}</div>
                  <div class="info_more" id="{{ i.id }}"><img src="/images/add.png"></div>
								</div>
							</div>
            {% endfor %}
            </div>
						<img class="leftarrow" src="/images/leftarrow.png" />
						<img class="rightarrow" src="/images/rightarrow.png" />
					</div>
				</div>
				<div class="left box-bg">
          <div class="box-border box-left-border"></div>
					<div class="name">{{ historytext[0].title }}</div>
					<div class="shuoming">{{ historytext[0].summary }}</div>
          <div class="box-border box-right-border"></div>
        </div>
			</div>
		</div>

		<div class="activityBox" id="honor">
			<div class="activity_container container">
				<div class="activitybox_title">
					<div>东沟荣誉</div>
				</div>

				<div class="swiper-container timeline">
					<div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/honor.png" />
						</div>
          </div>
          <div class="arrow">
            <img class="leftarrow" src="/images/leftarrow-black.png" />
            <img class="rightarrow" src="/images/rightarrow-black.png" />
          </div>
				</div>

				<div class="swiper-container activity_swiper">
					<div class="swiper-wrapper activity_wrapper">
            {% for i in honor %}
            <div class="swiper-slide activity_slide slider-with-margin" id="{{ i.id }}">
							<div class="activity_img"><img class="img" src="/images/{{ i.image }}"></div>
							<div class="activity_name">{{ i.title }}</div>
						</div>
            {% endfor %}
          </div>
				</div>
			</div>
		</div>


{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/services.js?version=2.3') }}"></script>
    <script src="/js/meili.js?version=2.3"></script>
{% endblock %}
