{% extends 'base.html.twig' %}

{% block style %}
<style>
.section.section3::before{
  background-image: url(/images/{{ jingqutext[0].image }});
}
.section.section4{
  background-image: url(/images/{{ leyoutext[0].image }});
}
</style>
{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block main %}

<!-- 内容 -->

<link rel="stylesheet" href="/css/index.css?version=6.3">

<div id="index_main" class="index_main">

	<!--第一屏-->

	<div class="section section1">

		<div class="index_banner">

      {#
			<div class="item">
				<div class="items scaleBg" style="background-image: url(/images/{{ i.image }});"></div>
				<div class="inner">
					<div class="block_txt1">
						<div class="en_words"><p>{{ i.summary }}</p></div>
						<div class="zh_words"><p>{{ i.title }}</p></div>
					</div>
				</div>
			</div>
      #}

      {% for i in slider1 %}
			<div class="item">
				<div class="items scaleBg" style="background-image: url(/images/{{ i.image }});"></div>
				<div class="inner">
					<div class="block_txt">
						<h4><p>{{ i.summary }}</p></h4>
						<h2><p>{{ i.title }}</p></h2>
						<h3></h3>
					</div>
				</div>
			</div>
      {% endfor %}
		</div>

		<!--第一屏 end-->

	</div>
	
	<!--第二屏-->
	<div class="section section2" style="background-image: url(/images/{{ xingchengtext[0].image }});background-repeat:no-repeat;">

		<div class="container sec2flex">

			<div class="sec2flex_left">

				<div class="sec2_title">{{ xingchengtext[0].title }}</div>

				<div class="sec2_fu_title">{{ xingchengtext[0].summary }}</div>

				<div class="ways">
        {% for i in xingcheng %}
					<div class="way">
						<img src="/images/{{ i.image }}" />
						<div>{{ i.title }}</div>
					</div>
        {% endfor %}
				</div>
			</div>

			<div class="sec2flex_right">
				<div class="sec2_fu_title1 bold">
					<div class="gonglue">
						<a href="/daolan/index?target=daolan_5">地图导航 >></a>
					</div>

				</div>

			</div>

		</div>

	</div>
	<!--第二屏end-->
	
	<!--第三屏-->
	<div class="section section3">

		<div class="container sec3flex main-container">

			<div class="sec3title">{{ jingqutext[0].title }}</div>
			<div class="">{{ jingqutext[0].summary }}</div>

			<div class="viewsbox">
				
        {% for i in jingqu %}
				<div class="views">
					<div class="top">
						<img class="img-responsive" src="/images/{{ i.image }}" />
						<div class="hovertip">
							<div>
								<a href="/jingqu/index?target=jingqu_1"><img src="/images/more.png"></a>
							</div>
							<div class="knowmore">
								<a href="/jingqu/index?target=jingqu_1">了解更多</a>
							</div>
						</div>
					</div>
					<div class="bottom">
						<div class="view_title">
							<a href="/jingqu/index?target=jingqu_1">{{ i.title }}</a>
						</div>
					</div>
				</div>
        {% endfor %}
			</div>

		</div>

	</div>

	<!--第三屏end-->
	
	<!--第四屏-->
	<div class="section section4">

		<div class="container sec4flex">

			<div class="sec4title">

				<div class="SourceHanSansCN-Normal">{{ leyoutext[0].title }}</div>

			</div>
      <div class="text-white">{{ leyoutext[0].summary }}</div>

			<div class="services main-container">
        {% for i in leyou %}
				<div class="sitem" goto="{{i.specs[0].value}}" style="background-color: {{ i.specs[1].value}};">
					<div class="box">
						<div class="tag">{{ i.title }}</div>
						<div class="tag_intro">{{ i.summary }}</div>
						<div class="tag_img"><img class="img-responsive" src="/images/{{ i.image }}" /></div>
						<div class="arrow"><img width="30px" class="" src="/images/leyou_arrow.png" /></div>
					</div>
				</div>
        {% endfor %}
			</div>
		</div>

	</div>
	<!--第四屏end-->
	
	<!--第五屏-->
	<div class="section section5" >
		<div class="container sec5flex main-container">
			<div class="sec5item">
				<div class="sec5item_title">
					<div class="name">文旅要闻</div>
					<div class="more" cid='50'>MORE</div>
				</div>
        {% for i in wenlv %}
				 <div class="sec5item_articlebox">
					<div class="date">{{ i.createdAt | date("m-d") }}</div>
					<div class="cxt">
						<div class="cxt_t">{{ i.title }}</div>
						<div class="cxt_shuoming">{{ i.summary }}</div>
					</div>
        </div>
        {% endfor %}
	</div>

			<div class="sec5item">
				<div class="sec5item_title">
					<div class="name">通知公告</div>
					<div class="more" cid='51'>MORE</div>
				</div>

        {% for i in tongzhi %}
				 <div class="sec5item_articlebox">
					<div class="date">{{ i.createdAt | date("m-d") }}</div>
					<div class="cxt">
						<div class="cxt_t">{{ i.title }}</div>
						<div class="cxt_shuoming">{{ i.summary }}</div>
					</div>
        </div>
        {% endfor %}
	</div>
	
			<div class="sec5item">
				<div class="sec5item_title">
					<div class="name">党建文明</div>
					<div class="more" cid='52'>MORE</div>
				</div>
        {% for i in dangjian %}
				 <div class="sec5item_articleimgbox">
				<div class="imgbox">
					<img src="/images/{{ i.image }}" onerror="this.src='/images/{{ i.image }}'" class="img-responsive" />
				</div>
				<div class="cxtbox">
					<div class="title">{{ i.title }}</div>
					<div class="fu_title">{{ i.summary }}</div>
				</div>
        </div>
        {% endfor %}
	</div>

	
			<div class="sec5item">
				<div class="sec5item_title">
					<div class="name">游客游记</div>
					<div class="more" cid='53'>MORE</div>
				</div>
        {% for i in youji %}
				 <div class="sec5item_articleimgbox">
				<div class="imgbox">
					<img src="/images/{{ i.image }}" onerror="this.src='/images/{{ i.image }}'" class="img-responsive" />
				</div>
				<div class="cxtbox">
					<div class="title">{{ i.title }}</div>
					<div class="fu_title">{{ i.summary }}</div>
				</div>
        </div>
        {% endfor %}
	</div>
</div>

{{ include('footer.html.twig') }}

</div>
<!--第五屏end-->
</div>
{% block footer %}{% endblock %}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/index.js?version=2.6') }}"></script>
{% endblock %}
