{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}
{% block style %}
    <style>
      @media (min-width: 767px) and (max-width: 990px) {
        .swiper-slide {
        height: 25rem !important;
    }
    .swiper {
        height: 25rem !important;
    }
    .swiper.mySwiper3 {
        height: 25rem !important;
    }
    .swiper.back_img {
        height: 15rem !important;
    }
       }
       @media (min-width: 990px) {
        .swiper.mySwiper3 {
        height: 100% !important;
    }
       }
       @media (max-width: 767px) {
    .swiper-slide {
        height: 15rem !important;
    }
    .swiper {
        height: 15rem !important;
    }
    .swiper.mySwiper3 {
        height: 15rem !important;
    }
    .swiper.back_img {
        height: 9rem !important;
    }
}
      .swiper-pagination-bullet-active {
  width: 1px !important;
  height: 1.5rem !important;
  border-radius: 4px !important;
  transform: rotate(30deg) !important;
  padding: 2px !important;
  background-color: gray !important;
}
.swiper-pagination-bullet {
  width: 1px !important;
  height: 1.5rem !important;
  border-radius: 4px !important;
  transform: rotate(30deg) !important;
  padding: 2px !important;
}
    </style>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
    <div class="swiper mySwiper3 position-relative">
      <div class="swiper-wrapper">
      {% for s in sliders1 %}
        <div class="swiper-slide container-fluid px-0 mr-0 slider-image" style="background-image: url({{ asset("images/#{s.image}") }})"></div>
      {% endfor %}
      </div>
      <div class="swiper-pagination d-flex mb-2 mb-5 ms-5"></div>
    </div>

    <div class="select">
      <div class="active" id="select-1">逆行者 500 系列</div>
      <div class="" id="select-2">MS600 系列</div>
    </div>
    
    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        {% for n in sliders2a %}
        <div class="swiper-slide">
          <img src="{{ asset("images/#{n.image}")}}" />
          <div class="info">
            <div class="title fw-bold">{{ n.title }}</div>
            <div class="summary">{{ n.summary}}</div>
          </div>
          <div class="info2">
          {% for s in n.specs|slice(0,3) %}
            <div class="spec">
              <div class="value">{{ s.value }}</div>
              <div class="name">{{ s.name|upper }} ———</div>
            </div>
          {% endfor %}
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
    <div class="position-relative border-top bg-light slider2a">
      <div thumbsSlider="" class="back_img swiper mySwiper w-75">
        <div class="swiper-wrapper">
        {% for n in sliders2a %}
          <div class="swiper-slide swip11">
            <div><img src="{{ asset("images/#{n.image}")}}" /></div>
            <p>{{ n.title }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="next">
        <img src="{{ asset('images/rightArrow.png')}}" alt="" width="40px" />
      </div>
      <div class="prev">
        <img src="{{ asset('images/leftArrow.png')}}" alt="" width="40px" />
      </div>
    </div>

    <div class="swiper mySwiper4 d-none">
      <div class="swiper-wrapper">
        {% for n in sliders2b %}
        <div class="swiper-slide">
          <img src="{{ asset("images/#{n.image}")}}" />
          <div class="info">
            <div class="title fw-bold">{{ n.title }}</div>
            <div class="summary">{{ n.summary}}</div>
          </div>
          <div class="info2">
          {% for s in n.specs|slice(0,3) %}
            <div class="spec">
              <div class="value">{{ s.value }}</div>
              <div class="name">{{ s.name|upper }} ———</div>
            </div>
          {% endfor %}
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
    <div class="position-relative border-top bg-light d-none slider3a">
      <div thumbsSlider="" class="back_img swiper mySwiper4a w-75">
        <div class="swiper-wrapper">
        {% for n in sliders2b %}
          <div class="swiper-slide swip11">
            <div><img src="{{ asset("images/#{n.image}")}}" /></div>
            <p>{{ n.title }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="next">
        <img src="{{ asset('images/rightArrow.png')}}" alt="" width="40px" />
      </div>
      <div class="prev">
        <img src="{{ asset('images/leftArrow.png')}}" alt="" width="40px" />
      </div>
    </div>

    <div class="container-fluid">
      <div class="row home-two-cell">
        <div class="col-md-6 col-12 card_back_images1" style="border-right: rgb(240 255 255 / 40%) solid 1px; background-image: url({{ asset("images/#{homeAbout.image}") }})">
          <div class="set_position">
            <div class="title">{{ homeAbout.title }}</div>
            {% set s = homeAbout.summary|split('\n') %}
            <div class="summary">{{ s[0] }}<br />{{ s[1]}}</div>
          </div>
          <a href="{{prefix}}/about#about"><img src="{{ asset('images/arrow-1.png') }}"></a>
        </div>
        <div class="col-md-6 col-12 card_back_images1" style="background-image: url({{ asset("images/#{homeService.image}") }})">
          <div class="set_position">
            <div class="title">{{ homeService.title }}</div>
            {% set s = homeService.summary|split('\n') %}
            <div class="summary">{{ s[0] }}<br />{{ s[1]}}</div>
          </div>
          <a href="{{prefix}}/about#service"><img src="{{ asset('images/arrow-1.png') }}"></a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container mt-5 mb-2">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="heading mb-0">{{ 'Latest News'|trans }}</h1>
          <a href="{{prefix}}/news" class="butto rounded-0 text-decoration-none px-3 py-2">{{ 'View All'|trans }}</a>
        </div>
      </div>

      <div class="container">
        <div class="row">
{% for n in nodes %}
          <div class="news-item col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-0 mb-md-0 mt-3 mb-lg-0 mb-3">
            <div class="card rounded-0">
              <img src="{{ asset("images/#{n.image}")}}" class="card-img-top rounded-0" alt="..." />
              <div class="card-body p-4">
                <h5 class="card-title text_heading">{{ n.title }}</h5>
                <p class="card-text text">{{ n.summary }} </p>
                <a href="{{prefix}}/news/{{ n.id }}" class="link_button">{{ 'SHOW MORE'|trans }}</a>
              </div>
            </div>
          </div>
{% endfor %}
        </div>
      </div>
    </div>

{% endblock %}

    {% block javascript %}
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
        navigation: {
          nextEl: ".next",
          prevEl: ".prev",
        },
      });
      var swiper = new Swiper(".mySwiper4a", {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
        navigation: {
          nextEl: ".next",
          prevEl: ".prev",
        },
      });
      var swiper2 = new Swiper(".mySwiper2", {
        spaceBetween: 10,

        thumbs: {
          swiper: swiper,
        },
      });
      var swiper4 = new Swiper(".mySwiper4", {
        spaceBetween: 10,

        thumbs: {
          swiper: swiper,
        },
      });
      var swiper3 = new Swiper(".mySwiper3", {
        slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    
    let s2 = document.querySelector('.mySwiper2');
    let s2a = document.querySelector('.slider2a');
    let s4 = document.querySelector('.mySwiper4');
    let s4a = document.querySelector('.slider3a');
    let select1 = document.querySelector('#select-1');
    let select2 = document.querySelector('#select-2');
    select1.addEventListener('click', function(){
    console.log('click select-1');
      s4.classList.add('d-none');
      s4a.classList.add('d-none');
      s2.classList.remove('d-none');
      s2a.classList.remove('d-none');
      select1.classList.add('active');
      select2.classList.remove('active');
    });
    select2.addEventListener('click', function(){
    console.log('click select-2');
      s2.classList.add('d-none');
      s2a.classList.add('d-none');
      s4.classList.remove('d-none');
      s4a.classList.remove('d-none');
      select2.classList.add('active');
      select1.classList.remove('active');
    });
    
    </script>
    {% endblock %}
