{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}
{% block style %}
    <style>
      .swiper-pagination-bullet-active {
  width: 1px !important;
  height: 1.5rem !important;
  border-radius: 4px !important;
  transform: rotate(30deg) !important;
  padding: 2px !important;
  background-color: gray !important;
}
.swiper-pagination-bullet {
  width: 1px !important;
  height: 1.5rem !important;
  border-radius: 4px !important;
  transform: rotate(30deg) !important;
  padding: 2px !important;
}
    </style>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
    <div class="swiper mySwiper3 position-relative" style="height: 42vh !important;">
      <div class="swiper-wrapper">
        <div class="swiper-slide container-fluid background_image px-0 mr-0" style="margin: 0px !important;"></div>
        <div class="swiper-slide container-fluid background_image px-0 mr-0"></div>
        <div class="swiper-slide container-fluid background_image px-0 mr-0"></div>
        <div class="swiper-slide container-fluid background_image px-0 mr-0"></div>
      </div>
      <div class="swiper-pagination d-flex mb-5 ms-5"></div>
    </div>
    <!-- Swiper -->

    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
    

          <img src="{{ asset('images/SliderImge.jpg')}}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ asset('images/SliderImge.jpg')}}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ asset('images/SliderImge.jpg')}}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ asset('images/SliderImge.jpg')}}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ asset('images/SliderImge.jpg')}}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ asset('images/SliderImge.jpg')}}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ asset('images/SliderImge.jpg')}}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ asset('images/SliderImge.jpg')}}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ asset('images/SliderImge.jpg')}}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ asset('images/SliderImge.jpg')}}" />
        </div>
      </div>
    </div>
    <div class="position-relative border-top bg-light">
      <div thumbsSlider="" class="back_img swiper mySwiper w-75">
        <div class="swiper-wrapper">
          <div class="swiper-slide swip11">
            <div><img src="{{ asset('images/Slider.png')}}" /></div>
            <p>应急通信车</p>
          </div>

          <div class="swiper-slide swip11">
            <div><img src="{{ asset('images/Slider.png')}}" /></div>
            <p>应急通信车</p>
          </div>
          <div class="swiper-slide swip11">
            <div><img src="{{ asset('images/Slider.png')}}" /></div>
            <p>应急通信车</p>
          </div>
          <div class="swiper-slide swip11">
            <div><img src="{{ asset('images/Slider.png')}}" /></div>
            <p>应急通信车</p>
          </div>
          <div class="swiper-slide swip11">
            <div><img src="{{ asset('images/Slider.png')}}" /></div>
            <p>应急通信车</p>
          </div>
          <div class="swiper-slide swip11">
            <div><img src="{{ asset('images/Slider.png')}}" /></div>
            <p>应急通信车</p>
          </div>
          <div class="swiper-slide swip11">
            <div><img src="{{ asset('images/Slider.png')}}" /></div>
            <p>应急通信车</p>
          </div>
          <div class="swiper-slide swip11">
            <div><img src="{{ asset('images/Slider.png')}}" /></div>
            <p>应急通信车</p>
          </div>
          <div class="swiper-slide swip11">
            <div><img src="{{ asset('images/Slider.png')}}" /></div>
            <p>应急通信车</p>
          </div>
          <div class="swiper-slide swip11">
            <div><img src="{{ asset('images/Slider.png')}}" /></div>
            <p>应急通信车</p>
          </div>
        </div>
      </div>
      <div class="next">
        <img src="{{ asset('images/rightArrow.png')}}" alt="" width="40px" />
      </div>
      <div class="prev">
        <img src="{{ asset('images/leftArrow.png')}}" alt="" width="40px" />
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-12 card_back_images1">
          <a href="#">
            <p class="set_position">关于我们<br />About Us</p></a
          >
        </div>
        <div class="col-md-6 col-12 card_back_images2">
          <a href="#">
            <img src="{{ asset('images/组 230.png')}}" alt="" class="set_position2"
          /></a>
        </div>
        <div class="col-md-6 col-12 card_back_images3">
          <a href="#">
            <img src="{{ asset('images/组 230.png')}}" alt="" class="set_position2"
          /></a>
        </div>
        <div class="col-md-6 col-12 card_back_images4">
          <a href="#">
            <p class="set_position">服务保障<br />Service guarantee</p></a
          >
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container mt-5 mb-2">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="heading mb-0">{{ 'Latest News'|trans }}</h1>
          <a href="{{prefix}}/news" class="butto rounded-0 text-decoration-none px-3 py-2">{{ 'View All'|trans }}</a>
        </div>
      </div>

      <div class="container">
        <div class="row">
{% for n in nodes %}
          <div class="news-item col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-0 mb-md-0 mt-3 mb-lg-0 mb-3">
            <div class="card rounded-0">
              <img src="{{ asset("images/#{n.image}")}}" class="card-img-top rounded-0" alt="..." />
              <div class="card-body p-4">
                <h5 class="card-title text_heading">{{ n.title }}</h5>
                <p class="card-text text">{{ n.summary }} </p>
                <a href="{{prefix}}/news/{{ n.id }}" class="link_button">{{ 'SHOW MORE'|trans }}</a>
              </div>
            </div>
          </div>
{% endfor %}
        </div>
      </div>
    </div>

{% endblock %}

    {% block javascript %}
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
        navigation: {
          nextEl: ".next",
          prevEl: ".prev",
        },
      });
      var swiper2 = new Swiper(".mySwiper2", {
        spaceBetween: 10,

        thumbs: {
          swiper: swiper,
        },
      });
      var swiper3 = new Swiper(".mySwiper3", {
        slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    </script>
    {% endblock %}
