{% extends 'base.html.twig' %}

{% block style %}
<link rel="stylesheet" href="/css/news.css?version=2.1">
<style>
.{{ regionLabel }} {
    color: #006934 !important;
}
</style>
{% endblock %}

{% block main %}
	<!--新闻资讯-->
	<div class="newsbox">
		<div class="container newsflex">
			<div class="tabsbox">
          <a class="tabitem wenlv" href="/news/wenlv" >
						<img class="tabicon" src="/images/tabicon.png" />
						<div class="tabtxt">文旅要闻</div>
					</a>
          <a class="tabitem tongzhi" href="/news/tongzhi" >
						<img class="tabicon" src="/images/tabicon.png" />
						<div class="tabtxt">景区公告</div>
					</a>
          <a class="tabitem dangjian" href="/news/dangjian" >
						<img class="tabicon" src="/images/tabicon.png" />
						<div class="tabtxt">党建文明</div>
					</a>
          <a class="tabitem youji" href="/news/youji" >
						<img class="tabicon" src="/images/tabicon.png" />
						<div class="tabtxt">旅行游记</div>
					</a>
      </div>
      
			<div class="contents " style="">
        {% for i in nodes %}
        <div class="content_item">
					<div class="content_left">
						<div class="name"><a href="/news/{{ i.id }}">{{ i.title }}</a></div>
						<div class="disc">{{ i.summary }}</div>
					</div>
					<div class="content_right">
						<div class="time">{{ i.createdAt | date('Y-m-d')}}</div>
					</div>
				</div>
        {% endfor %}
        <div class="pagebox">
        <ul class="pagination">
          <li class="page-item {{ page == 1 ? 'disabled'}}">
            <a class="page-link" href="?p={{ page - 1 }}"><span>上一页</span></a>
          </li> 
          {% for i in 1..page_count %}
          <li class="page-item {{ loop.index == page ? 'active'}}">
            <a class="page-link" href="?p={{ loop.index }}"><span>{{ loop.index }}</span></a>
          </li>
          {% endfor %}
          <li class="page-item {{ page == page_count ? 'disabled'}}">
            <a class="page-link" href="?p={{ page + 1}}">下一页 </a>
          </li>
        </ul>
      </div>
    </div>
		</div>
	</div>


{% endblock %}

    {% block javascript %}
<script src="/js/news.js?version=1.3"></script>
    {% endblock %}
