{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block hero %}
    <div class="container-fluid hero-section-bg-page-2 position-relative d-flex justify-content-center align-items-center" style="background-image: url({{ asset('images/page-2-hero-bg.png')}})">
        <div class="container d-flex justify-content-center align-items-center">
            <h2 class="position-absolute text-white">{{'News'|trans}}</h2>
        </div>
    </div>
{% endblock %}

{% block main %}
    <article class="my-5 mx-auto mw-80">
      <h1 class="h1 text-center">{{ node.title }}</h1>
      <p class="text-center text-body-tertiary">{{ node.createdAt|date("m/d/Y") }}</p>
      <img src="{{asset("images/#{node.image}")}}" class="img-fluid mx-auto w-100" alt="">
      <div class="my-3">
      {{ node.body|raw }}
      </div>
    </article>
{% endblock %}

    {% block javascript %}
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      freeMode: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
    {% endblock %}
