{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block hero %}
    <div class="container-fluid hero-section-bg-page-2 position-relative d-flex justify-content-center align-items-center" style="background-image: url({{ asset('images/page-2-hero-bg.png')}})">
        <div class="container d-flex justify-content-center align-items-center">
            <h2 class="position-absolute text-white">新闻动态</h2>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="text-center fs-3 mt-5">公司新闻</div>
    <div class="text-center fs-6 text-body-tertiary">COMPANY NEWS</div>
    <div class="container my-5">
        <div class="row">

{% for n in nodes %}
          <div class="col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-0 mb-md-0 mt-3 mb-lg-0 mb-3">
            <div class="card rounded-0">
              <img src="{{ asset("images/#{n.image}")}}" class="card-img-top rounded-0" alt="..." />
              <div class="card-body p-4">
                <h5 class="card-title text_heading">{{ n.title }}</h5>
                <p class="card-text text">{{ n.summary }} </p>
                <a href="{{prefix}}/news/{{ n.id }}" class="link_button">{{ 'SHOW MORE'|trans }}</a>
              </div>
            </div>
          </div>
{% endfor %}
          
        </div>
      </div>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item {{ page == 1 ? 'disabled'}}">
        <a class="page-link" href="?p={{ page - 1}}"> < </a>
      </li>
      {% for i in 1..page_count %}
      <li class="page-item {{ loop.index == page ? 'active'}}">
        <a class="page-link" href="?p={{ loop.index }}">{{ loop.index }}</a>
      </li>
      {% endfor %}
      <li class="page-item {{ page == page_count ? 'disabled'}}">
        <a class="page-link" href="?p={{ page + 1}}"> > </a>
      </li>
    </ul>
  </nav>
{% endblock %}

    {% block javascript %}
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      freeMode: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
    {% endblock %}
