{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block hero %}
    <div class="container-fluid hero-section-bg-page-2 position-relative d-flex justify-content-center align-items-center" style="background-image: url({{ asset('images/图层.png')}})">
        <div class="container d-flex justify-content-center align-items-center">
            <h2 class="position-absolute text-white">联系我们</h2>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="container-fluid mt-5">
        <div class="container">
            <div class="row pt-5 text-center">
                <div class="col-12">
                    <h2 class="page-2-section-1-heading">与我们保持联系，是解决您一切问题的有效途径</h2>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-3 col-6 text-center border-end">
                    <img src="{{ asset('images/电话.svg')}}" alt="" class="call-img">
                    <h4 class="pt-3 page-2-section-2-heading">{{ 'Service Hotline'|trans }}</h4>
                    <p class="page-2-section-2-text">{{ conf.phone }}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-6 text-center border-end">
                    <img src="{{ asset('images/邮箱 (1).svg')}}" alt="" class="call-img">
                    <h4 class="pt-3 page-2-section-2-heading">{{ 'Service Mail'|trans }}</h4>
                    <p class="page-2-section-2-text">{{ conf.email }}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-6 text-center border-end">
                    <img src="{{ asset('images/位置 (2).svg')}}" alt="" class="call-img">
                    <h4 class="pt-3 page-2-section-2-heading">{{ 'Contact Address'|trans }}</h4>
                    <p class="page-2-section-2-text">{{ conf.address }}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-6 text-center">
                    <img src="{{ asset('images/微信 拷贝.svg')}}" alt="" class="call-img">
                    <h4 class="pt-3 page-2-section-2-heading">{{ 'Wechat Customer Service'|trans }}</h4>
                    <p class="page-2-section-2-text">{{ 'Contact Us If You Need Any Help'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
   
{{ include('feedback.html.twig') }}
{% endblock %}

    {% block javascript %}
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      freeMode: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
<script src="{{ asset('js/validate.js') }}"></script>
    {% endblock %}
