<!DOCTYPE html>
<html lang="zh">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta content="{{ conf.description }}" name="description">
    <meta content="{{ conf.keywords|join(', ') }}" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{{ conf.sitename }}{% endblock %}</title>

		<link rel="stylesheet" href="{{ asset('css/jquery.fullPage.css') }}">
		<link rel="stylesheet" href="{{ asset('css/header.css') }}">
		<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
		<link rel="stylesheet" href="{{ asset('css/default.css') }}">
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/animate.css') }}">
		<link rel="stylesheet" href="{{ asset('css/slider.css') }}">
		<link rel="stylesheet" href="{{ asset('css/idangerous.swiper.css') }}">
		<link rel="stylesheet" href="{{ asset('css/iconfont_foot.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block style %}{% endblock %}
  </head>
  <body>
    {% block nav %}
    {{ include('header.html.twig') }}
    {% endblock %}

    {% block hero %} {% endblock %}

		<!--返回首页-->
		<div class="gotop"><img src="/images/up.png"></div>

		<!--公用文章或图片弹窗-->
		<div class="popupWindow" style="display: none;">
			<div class="popupContainer">
				<img class="popimg1" src="/images/popup_meihua1.png" />
				<img class="popimg2" src="/images/popup_meihua2.png" />
				<img class="popimg3" src="/images/popup_meihua3.png" />
				<img class="popimg4" src="/images/popup_meihua4.png" />
				<img class="popupClose" src="/images/window_close.png" />
				<div class="popupCxt"></div>
			</div>
		</div>

		<!--视频播放弹窗-->
		<div class="videoWindow" style="display: none;">
			<div class="videoContainer">
				<img class="videoClose" src="http://www.sanxiarenjia.com/static/index/images/icons/window_close.png" />
				<div class="videoCxt" id="mapuse"></div>
			</div>
		</div>
		
		<!--画集大图弹窗-->
		<div class="pictureWindow" style="display: none;">
			<div class="picturebox"></div>
		</div>

		<!--路径栏-->

    {% block breadcrumbs %}
		<div class="path">
			<div class="container path_container main-container">
				<a href="/index/index">首页</a>
				 > 
				<a href="">走进东沟</a>
			</div>
		</div>
    {% endblock %}

    {% block main %} {% endblock %}

    {% block footer %}
    {{ include('footer.html.twig') }}
    {% endblock %}

		<script src="{{ asset('js/jquery.min.js') }}"></script>
		<script src="{{ asset('js/jquery.cookie.js?version=1.0') }}"></script>
		<script src="{{ asset('js/common.js') }}"></script>
		<script src="{{ asset('js/jquery.fullPage.min.js') }}"></script>
		<script src="{{ asset('js/slider.js') }}"></script>
		<script src="{{ asset('js/header.js?version=3.9') }}"></script>
		<script src="{{ asset('js/idangerous.swiper.js') }}"></script>
    {% block javascript %} {% endblock %}

  </body>
</html>
