    <div class="gray-label-text text-center py-3 ">
      <h1 class="fw-bold">{{ request.title }}</h1>
    </div>
    <!-- form -->
    <div class="container contact">
        <h1 class="form-heading mt-5">{{ request.summary }}</h1>
        <form action="feedback/new" method="post" role="form" class="php-email-form">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="input-with-label">
                        <span class="required-input"></span>
                        <input type="text" name="firstname" required class="form-control mt-2 py-2 remove-focus-outline rounded-0" id="input-firstname" placeholder="名字:">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-with-label">
                        <span class="required-input"></span>
                        <input type="text" name="lastname" class="form-control mt-2 py-2 remove-focus-outline rounded-0" id="input-lastname" placeholder="姓氏:">
                    </div>                </div>
                <div class="col-md-6">
                    <div class="input-with-label">
                        <span class="required-input"></span>
                        <input type="email" name="email" required class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-email" placeholder="邮箱:">
                    </div>                </div>
                <div class="col-md-6">
                    <input type="text" name="phone" required class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-phone" placeholder="手机:">
                </div>
                <div class="col-md-6">
                    <select class="form-select mt-4 py-2 remove-focus-outline rounded-0" aria-label="Default select example">
                        <option selected>咨询车型</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-select mt-4 py-2 remove-focus-outline rounded-0" aria-label="Default select example">
                        <option selected>国家/地区</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="input-group mt-4">
                    <textarea name="body" required class="form-control remove-focus-outline rounded-0" aria-label="需求描述 With textarea" placeholder="需求描述"></textarea>
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input rounded-0" type="checkbox" value="" id="flexCheckDefault" required>
                <label class="form-check-label" for="flexCheckDefault">
                  {{ 'I Agree'|trans }}
                </label>
              </div>
              <div class="bottom-text">
                {{ 'en:对于您提供的个人信息，我们将尊重您的隐私并严格保密'|trans }}
              </div>

            <div class="my-3">
              <div class="loading">加载中...</div>
              <div class="error-message"></div>
              <div class="sent-message">信息已发送，感谢您的支持！</div>
            </div>

            <!-- Additional form fields can be added here -->
            <div class="form-btn d-flex justify-content-center mt-4">
                <button type="submit" class="btn py-2">{{ 'Submit'|trans }}</button>
            </div>
        </form>
    </div>
