{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

    <!-- form -->
    <div class="news container contact main-container">
    <div class="contact">
    <h2>{{ feedback[0].title }}</h2>
    <div class="desc">{{ feedback[0].summary }}</div>
    <div class="info">
      <img src="/images/tel.svg">
      <div>
        <div>电话</div>
        <div>{{ conf.phone }}</div>
      </div>
    </div>
    <div class="info">
      <img src="/images/fax.svg">
      <div>
        <div>地址</div>
        <div>{{ conf.address }}</div>
      </div>
    </div>

    </div>
        <form action="feedback/new" method="post" role="form" class="php-email-form">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="input-with-label">
                        <span class="required-input"></span>
                        <input type="text" name="firstname" required class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-firstname" placeholder="姓名:">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-with-label">
                        <input type="email" name="email" class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-email" placeholder="邮箱:">
                    </div>                </div>
                <div class="col-md-6">
                    <input type="text" name="phone" required class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-phone" placeholder="电话:">
                </div>
                <div class="col-md-6">
                    <input type="text" name="phone" required class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-phone" placeholder="标题:">
                </div>
                <div class="input-group mt-4">
                    <textarea name="body" required class="form-control remove-focus-outline rounded-0" aria-label="需求描述 With textarea" rows="10" placeholder="内容"></textarea>
                </div>
            </div>

            <!-- Additional form fields can be added here -->
            <div class="form-btn d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-dark py-2">提交建议</button>
            </div>
        </form>
    </div>
